@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
:root{
    --primary-color: #3A3A3A;
    --image-background: #F1E4FF;
    --button-background: #E02C6D;
    --footer-background: #0A0826;
}

/* General Styles */
.link-button {
    padding: 15px 25px;
    background: var(--button-background);
    color: #fff;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
}

.link-arrow {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

/* header part styling */
header{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 40px;
}
header>nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav>h3{
    font-size: 24px;
    font-weight: bold;
    color:#3A3A3A;
}
.nav-list>a{
    text-decoration: none;
    color:#3A3A3A;
    display: inline-block;
    margin: 5px;
}
header a{
    transition: transform 0.5s ease,color 0.5s ease;
}
header a:hover{
    transform: scale(1.2);
    color: rgb(153, 3, 3);
}

/* Hero Section Styles */
section {
    margin: 0 auto 50px;
}
.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.hero-image {
    background: var(--image-background);
    border-radius: 100%;
    border: 50px solid white;
    height: 320px;
    width: 320px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.596);
    margin-bottom: 20px;
}
.hero-image img {
    width: 100%;
}
.hero-content {
    text-align: center;
    width: 340px;
    color: var(--primary-color);
}
.hero-content h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 15px;
}
.hero-content p {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
    section {
    margin: 0 auto 100px;
    }
.hero-section {
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 90%;
}
.hero-image {
    width: 40%;
    height: 40%;
}
.hero-content {
    width: 680px;
    height: 270px;
    text-align: left;
    margin-right: 135px;
}
.hero-content h1 {
    font-size: 28px;
    line-height: 42px;
}
}

/* Logo section */
.logo-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.logo-icon{
    margin: 10px 30px;
}
@media screen and (min-width: 992px) {
    .logo-section{
        margin: 0 auto 100px;
        height: 110px;
        width: 90%;
        border-bottom: 1px solid rgba(128, 128, 128, 0.3);
        border-top: 1px solid rgba(128, 128, 128, 0.3);
    }
}

/* Collection Card Styles */
.collection-section h2 {
    text-align: center;
    font-weight: 600;
    line-height: 25px;
    font-size: 28px;
    margin-bottom: 20px;
    color: var(--primary-color);
}
.items {
    display: grid;
}
.item {
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.6);
    border-radius: 5px;
    padding: 15px;
    margin: 15px 20px;
}
.item img {
    width: 100%;
    margin-bottom: 16px;
}
.item-content {
    width: 80%; 
}
.item-content h3 {
    font-size: 20px;
    margin-bottom: 15px;
}
.fa-star,
.fa-star-half-stroke {
    color: #fb8200;
}
.item-content p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    margin-bottom: 10px;
}
.transparent-button {
    display: flex;
    justify-content: flex-end;
}
.transparent-button button {
    background: transparent;
    color: var(--button-background);
    font-weight: 700;
    font-size: 24px;
}

@media screen and (min-width: 996px) {
    .collection-section {
    width: 80%;
    }
    .items {
    grid-template-columns: repeat(3, 1fr);
    }
}

/* Feature sectiion */

.feature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.feature-content {
    text-align: center;
}

.feature-content h2 {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 700;
}
.feature-content p {
    font-size: 16px;
    margin-bottom: 40px;
    font-weight: 500;
}

.feature-button {
    border-radius: 0;
    font-weight: 700;
    margin-bottom: 40px;
}

.feature-image {
    margin: 0 auto;
}

@media screen and (min-width: 992px) {
    .feature-section {
        flex-direction: row-reverse;
    }
    .feature-content {
        text-align: left;
    }
    .feature-image {
        margin-right: 150px;
    }
}